/*select all elements*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/*header, main, footer*/
header, main, footer {
    min-width: 100%;
}
/*header*/
header, footer {
    display: inline-flex;
    justify-content: space-between;
    background-color: darkgray;
}
.logo {
    width: 7em;
}
.image {
    width: 12em;
    display: block;
    margin: 15px auto;
}
.infoline {
    text-align: center;
}
/*place the menu to the right of the page*/
.menu {
    /*margin: auto 0;*/
    align-items: flex-end;
    margin: 5px 10px 0;
}
.portfolio {
    text-align: center;
}
.lifechoices {
    text-align: center;
}
.projects {
    margin: 0;
    padding: 0;
}
/* navbar */
.menu-list {
    display: inline-flex;
    list-style: none;
}
.menu-list li {
    padding: 0 8px;
}
/*main*/
/*heading*/
h1, h2, h3, h4, h4, h6 {
    text-align: center;
    margin-bottom: 15px;
}
/*home*/
#home {
    background-color: rgba(106, 115, 92, 2);
}
#resume {
    background-color: rgb(146, 158, 127) ;
}
#project {
    background-color: rgb(173, 186, 152);
}

.wrapper img {
    display: block;
    margin: 15px auto;
}
.wrapper p {
    text-align: center;
}
.container {
    display: block;
    margin: 15px auto;
}
.container {
    width: 240px;
    clear: both;
}  
.container input {
    width: 100%;
    clear: both;
}
#resume {
    text-align: center;
}
.menu-list {
    font-size: 25px;
}